body {
  margin: auto;
}

a {
  font-family: "Noto Sans New Tai Lue", sans-serif;
  text-decoration: none;
  color: #ffffff;
  font-size: 12px;
}

h1 {
  margin-left: 150px;
}

h2 {
  color: #4aab00;
  margin-left: 50px;
}

h3 {
  color: #4aab00;
  font-size: 40px;
  margin: 20px 0 -30px 40px;
  padding: 10px;
}

h4 {
  text-align: left;
  text-decoration: underline;
  color: #4aab00;
}

h5 {
  color: #4aab00;
}

h6 {
  color: #ffffff;
  text-decoration: none;
  font-size: 12px;
}

hr {
  padding: 0;
  border: solid #4aab00 1px;
  width: 10%;
  margin: auto;
}

p {
  margin-left: 100px;
  margin-right: 50px;
}

img {
  width: 100%;
}

.buttons {
    border: solid #4aab00 1px;
    background-color: #4aab00;
    color: #ffffff;
    padding: 4px;
    margin: 10px 20px auto 150px; 
  }

.header {
  background: url("../images/header.png");
  background-size: cover;
  /* background-repeat: no-repeat;
  background-position: right; */
  width: 100%;
  color: #ffffff;
  font-size: 16px;
  padding: 4rem 2rem;

  /* Grid styles */
  display: grid;
  align-items: center;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
}

.about {
  background-size: cover;
  /* background-repeat: no-repeat;
    background-position: right; */
  width: 100%;
  color: #000000;
  font-size: 16px;
  padding: 4rem 2rem;

  /* Grid styles */
  display: grid;
  align-items: center;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
}

.plates {
  background-image: url("../images/dish-back.png");
  background-size: 100% 100%;
  /* background-repeat: no-repeat;
    background-position: right; */
  width: 100%;
  color: #ffffff;
  font-size: 16px;
  padding: 4rem 2rem;

  /* Grid styles */
  display: grid;
  align-items: center;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
}

.menu {
  background-image: url("../images/menu-back.png");
  background-size: 100% 100%;
}

.menu {
  /* background-image: url("../images/menu-back.png"); */
  /* background-size: cover; */
  /* background-repeat: no-repeat;
      background-position: right; */
  width: 100%;
  color: #000000;
  font-size: 16px;
  padding: 4rem 2rem;

  /* Grid styles */
  display: grid;
  align-items: center;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
}

.footer {
  background-image: url("../images/footer.png");
  background-size: cover;
  /* background-repeat: no-repeat;
      background-position: right; */
  width: 100%;
  color: #ffffff;
  font-size: 16px;
  padding: 4rem 2rem;

  /* Grid styles */
  display: grid;
  align-items: center;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
}
